h1 a {
    text-decoration: none;
}

img{
    width: 200px;
    height: 200px;
}
/* 
"topics":[ {
    "id": 1, "title":"html", " body":"html is ..."
}

,
{
"id": 2, "title":"css", "body":"css is..."
}

], */